:root {
    font-family: 'minecraft-italic', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 40;
  
    /* font-synthesis: none; */
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #1e1e2e;
  }
  
  @font-face {
    font-family: 'Monocraft';
    src: url('font/Monocraft-Black-Italic.woff2') format('woff2'),
        url('font/Monocraft-Black-Italic.woff') format('woff'),
        url('font/Monocraft-Black-Italic-04.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Monocraft';
    src: url('font/Monocraft-Black.woff2') format('woff2'),
        url('font/Monocraft-Black.woff') format('woff'),
        url('font/Monocraft-Black-03.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Monocraft';
    src: url('font/Monocraft.woff2') format('woff2'),
        url('font/Monocraft.woff') format('woff'),
        url('font/Monocraft-01.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Monocraft';
    src: url('font/Monocraft-Bold.woff2') format('woff2'),
        url('font/Monocraft-Bold.woff') format('woff'),
        url('font/Monocraft-Bold-05.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Monocraft';
    src: url('font/Monocraft-ExtraLight.woff2') format('woff2'),
        url('font/Monocraft-ExtraLight.woff') format('woff'),
        url('font/Monocraft-ExtraLight-11.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Monocraft';
    src: url('font/Monocraft-Bold-Italic.woff2') format('woff2'),
        url('font/Monocraft-Bold-Italic.woff') format('woff')
        url('font/Monocraft-Bold-Italic-06.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Monocraft';
    src: url('font/Monocraft-Italic.woff2') format('woff2'),
        url('font/Monocraft-Italic.woff') format('woff'),
        url('font/Monocraft-Italic-02.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Monocraft';
    src: url('font/Monocraft-Light.woff2') format('woff2'),
        url('font/Monocraft-Light.woff') format('woff'),
        url('font/Monocraft-Light-09.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Monocraft';
    src: url('font/Monocraft-Light-Italic.woff2') format('woff2'),
        url('font/Monocraft-Light-Italic.woff') format('woff'),
        url('font/Monocraft-Light-Italic-10.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Monocraft';
    src: url('font/Monocraft-ExtraLight-Italic.woff2') format('woff2'),
        url('font/Monocraft-ExtraLight-Italic.woff') format('woff'),
        url('font/Monocraft-ExtraLight-Italic-12.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Monocraft';
    src: url('font/Monocraft-SemiBold-Italic.woff2') format('woff2'),
        url('font/Monocraft-SemiBold-Italic.woff') format('woff'),
        url('font/Monocraft-SemiBold-Italic-08.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Monocraft';
    src: url('font/Monocraft-SemiBold.woff2') format('woff2'),
        url('font/Monocraft-SemiBold.woff') format('woff'),
        url('font/Monocraft-SemiBold-07.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}



body {
  font-family: "minecraft-regular", Inter;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem;
  width: 55%;
  color: #89dceb;
}

bold {
  font-family: "minecraft-bold";
}

italic {
  font-family: "minecraft-italic";
}

* {
  box-sizing: border-box;
}


  

  h1 {
    font-size: 3.2em;
    line-height: 1.1;
    color: #89dceb;
  }

  h2 {
    color: #89dceb;
  }
  
  p {
    margin: 10px 0 0 0;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
  }

  header #header_left {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  header #header_left .name {
    display: flex;
    align-items: center;
  }

  header #header_left .name a {
    font-size: 3rem;
    line-height: 2rem;
    color: #89dceb;
    text-decoration: none;
  }

  navbar {
    margin: 1rem 0;
    box-sizing: border-box;
  }

  .menu-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  navbar .menu-list .navbar-item {
    font-size: 20px;
    margin: 0 1rem 0 0;
    border-bottom: 2px;
    color: white;
  }

  /* button {
    font-family: "minecraft-bold", "minecraft-regular", Inter;
    background-color: #1e1e2e;
    color: white;
    border: none;
  } */

  navbar .menu-list .navbar-item:hover {
    color: #89dceb;
    cursor: pointer;
    transition: color .5s ease-out 0.10s;
    font-size-adjust: 20px;
  }



  navbar .menu-list .navbar-item a {
    color: white;
    text-decoration: none;
    transition: color .3s ease-out 0;
  }


  navbar .menu-list .navbar-item a:hover {
    color: #89dceb;
    cursor: pointer;
    transition: color .5s ease-out 0.10s;
    font-size-adjust: 20px;
  }



  main {
    display: block;
  }

  .content {
    margin-top: 4rem;
    margin-bottom: 2rem;
    font-size: 20px;
  }

  .content .card {
    background-color: #313244;
    padding: 10px;
    border-radius: 4px;
    margin: 5px 10px;
    border: 20px white;
  }

  .card .card-list {
    list-style-type: ">> ";
  }

  .card .card-list a {
    color: #89dceb;
  }
  

.box-1 {
  /* in content-box, padding and border get added onto the width and height. */
  box-sizing: content-box;
  background-color: lightblue;
  width: 700px;
  height: 300px;
  padding: 50px;
  border: 30px solid black;
}

.box-2 {
  /* in border-box, padding and border are included in the width and height */
  box-sizing: border-box;
  background-color: lightcoral;
  width: 700px;
  height: 300px;
  padding: 50px;
  border: 30px solid black;
  margin: 0 auto;
}